<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @wiki_page.name %>
</p>

<p>
  <b>Show:</b>
  <%= @wiki_page.show_id %>
</p>


<%= link_to 'Edit', edit_wiki_page_path(@wiki_page) %> |
<%= link_to 'Back', wiki_pages_path %>
