<div class="homepage-copy">
    <h1>Welcome to TVTracker!</h1>
    <% dummy_subscription = Subscription.new %>
    <% dummy_subscription.episode = Episode.get_promo_upcoming %>
    <% if dummy_subscription.episode %>
        <% dummy_subscription.show = dummy_subscription.episode.show %>
        <h3>Have you heard about... </h3>
        <%= render :partial => "subscriptions/list_item", :layout => false, :locals => { :subscription => dummy_subscription, :promo => true } %>
    <% end %>
    <div class="homepage-columns-wrapper">
        <div class="span4 homepage-column">
            <div class="content-background"></div>
            <h1><%= link_to "BROWSE", shows_path %></h1>
            <h3>Browse or search the hundreds of TV shows we're already tracking.<br><br>(And add your missing favorites instantly.)</h3>
        </div>
        <div class="span4 homepage-column">
            <div class="content-background"></div>
            <h1><%= link_to "TRACK", if current_user then track_path else signup_path end %></h1>
            <h3>Track your progress through your TV shows and get airdates.<br><br>Never miss a season premiere again!<h3>
        </div>
        <div class="span4 homepage-column">
            <div class="content-background"></div>
            <h1><%= link_to "DISCOVER", show_path(dummy_subscription.show) %></h1>
            <h3>Discover new shows with synopses, posters, and cast and episode info.<br><br>How about a <%= link_to "list", episodes_path(Show.find_by_name("The Simpsons")) %> of every Simpsons episode?</h3>
        </div>
    </div>
</div>
