<%- model_class = Subscription -%>
<% show = subscription.show %>
<% last_watched = subscription.episode %>
<% to_watch = show.next_episode(last_watched) %>
<% up_next = show.next_episode(to_watch) %>

<div class="media hero-unit subscription <%= if to_watch then "subscription-more" else "subscription-finished" end %>" id="subscription<%= subscription.id %>">
  <% if last_watched %>
    <a class="pull-right subscription-rewind" href="#">
      <button class="btn btn-danger"><i class="icon-backward icon-large"></i></button>
    </a>
  <% end %>
  <a class="pull-left subscription-thumbnail-box" href="<%= show_path(show) %>">
    <%= image_tag subscription.show.poster.url(:medium), :class =>"media-object img-polaroid subscription-thumbnail" %>
  </a>
  <div class="media-body">
    <h3 class="media-heading"><strong><%= show.name %></strong> <%= to_watch.numbers_and_name if to_watch %></h3>
    <h4 class="media-heading"><%= to_watch.readable_airdate_with_verb if to_watch %></h4>
    <div class="watch-next">
      <em>
        <% if to_watch && up_next %>
          Watch next: <%= up_next.numbers_and_name %>
        <% elsif to_watch %>
          You're almost caught up!
        <% else %>
          You're caught up!
          <br>Want to <%= link_to "check for more episodes", shows_path(:anchor => show.id) %> or <%= link_to "watch something else", shows_path %>?
        <% end %>
      </em>
    </div>
  </div>

</div>