<%- model_class = Show -%>
<% @show = Show.new %>

<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %>
    <span class="shows-top-form">
      <%= render :partial => 'search_form' %>
      <%= render :partial => 'create_form', :locals => {:placeholder => "Can't find what you're looking for?", :klass => "search-failed" } %>
    </span>
  </h1>
</div>
<table class="table table-striped" id="shows-table">
  <thead>
    <tr>
      <th class="table-name-column"><%= model_class.human_attribute_name(:name) %></th>
      <th class="table-episodes-column">All Episodes</th>
      <th class="table-ended-column"><%= "#{model_class.human_attribute_name(:ended)}?" %></th>
      <th class="table-airtime-column"><%= model_class.human_attribute_name(:airtime) %></th>
      <th class="table-next-episode-column">Next Episode (press <span class="label label-inverse shows-demo-button"><i class="icon-download-alt icon-white"></i> Update</span> to grab some new episodes)</th>
      <th class="table-actions-column"><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @shows.each do |show| %>
      <tr id="<%= show.id %>">
        <td><%= link_to show.name, show_path(show) %></td>
        <td><%= link_to "Episode List", episodes_path(show), :class => 'btn btn-info'%></td>
        <td><%= show.ended ? "Ended" : "Still airing" %></td>
        <td><%= show.airtime || "Unknown" %></td>
        <td>
          <% ep = show.last_episode %>
          <% if ep %>
            <%= ep.numbers_and_name %>
            <br><em><%= ep.readable_airdate_with_verb %></em>
          <% else %>
            Unknown (try pressing "update")
          <% end %>
        </td>
        <td>
          <% subscribed = current_user && current_user.subscribed?(show) %>
          <span class="shows-table-action">
            <% if subscribed %>
              <%= html_button_to '<i class="icon-remove-sign icon-white"></i> Untrack'.html_safe, subscription_path(id: current_user.get_subscription(show).id), :class => "btn btn-danger unsubscribe", :method => :delete %>
            <% else %>
              <%= html_button_to '&nbsp;&nbsp;<i class="icon-truck icon-white"></i> Track!&nbsp;&nbsp;'.html_safe, login_path, :class => "btn btn-warning subscribe", :method => :get %>
            <% end %>
          </span>
          <span class="shows-table-action">
            <%= html_button_to '<i class="icon-download-alt icon-white"></i> Update'.html_safe, sync_path(id: show.id), :class => "btn btn-inverse update" %>
          </span>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= render :partial => 'create_form', :locals => {:placeholder => "Name", :klass => nil} %>

<div id="dialog-form" title="#" style="display:none;" data-target="<%= subscribe_path(:sid, :season, :episode) %>">
  <p class="validateTips">Which episode are you on?</p>
  <form method="post">
  <fieldset>
    <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
    <label for="season">Season #</label>
    <input type="number" name="season" id="season" value="1" class="text ui-widget-content ui-corner-all" />
    <label for="episode">Episode #</label>
    <input type="number" name="episode" id="episode" value="1" class="text ui-widget-content ui-corner-all" />
  </fieldset>
  </form>
</div>
<style type="text/css"> 
.container { width: 1200px; } 
.span12 { width: 1200px;}
</style>
<%= stylesheet_link_tag "http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" %>
<%= javascript_include_tag "http://code.jquery.com/ui/1.10.3/jquery-ui.js" %>
<script type="text/javascript">
$(document).ready(function(){
  bindShowHandlers(<%= current_user ? true : false %>);
});
</script>
