<%- model_class = Show -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped" id="shows-table">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= "#{model_class.human_attribute_name(:ended)}?" %></th>
      <th><%= model_class.human_attribute_name(:airtime) %></th>
      <th>Next Episode</th>
      <th>All Episodes</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @shows.each do |show| %>
      <tr>
        <td><%= link_to show.name, show_path(show) %></td>
        <td><%= show.ended ? "All done" : "Still airing" %></td>
        <td><%= show.airtime || "Unknown" %></td>
        <td>
          <% ep = show.last_episode %>
          <% if ep %>
            <%= ep.readable_name_and_airdate %>
          <% else %>
            Unknown (try pressing "update")
          <% end %>
        </td>
        <td><%= link_to "Episode List" %></td>
        <td>
          <% subscribed = current_user && show.subscribed?(current_user) %>
            <span class="shows-table-action">
              <%= html_button_to (subscribed ? 'Tracking' : '<i class="icon-truck icon-white"></i> Track!'.html_safe), subscribe_path(id: show.id), :class => "btn btn-warning subscribe", :disabled => subscribed %>
            </span>
            <span class="shows-table-action">
              <%= html_button_to '<i class="icon-download-alt icon-white"></i> Update'.html_safe, sync_path(id: show.id), :class => "btn btn-inverse update" %>
            </span>

          <%#= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_show_path(show), :class => 'btn btn-mini' %>
          <%#= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      show_path(show),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% @show = Show.new %>
<%= render :partial => 'form' %>

<style type="text/css">
.container {
  width: 1170px;
}
</style>
<script type="text/javascript">
$(".btn.update").click(function(){ 
  $(this).closest("form").submit();
  $(this).attr("disabled", "disabled"); 
  $(this).children("i").removeClass().addClass("icon-white icon-refresh icon-spin");
  $(this).off();
});
</script>
<%#= link_to t('.new', :default => t("helpers.links.new")),
            new_show_path,
            :class => 'btn btn-primary' %>
